<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CrossBrowserSuite" parallel="tests" thread-count="3">

    <test name="Chromium Test">
        <parameter name="browser" value="chromium"/>
        <classes>
            <class name="tests.AmazonProductSearchTest"/>
        </classes>
    </test>

    <test name="Firefox Test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.AmazonProductSearchTest"/>
        </classes>
    </test>

    <test name="Webkit Test">
        <parameter name="browser" value="webkit"/>
        <classes>
            <class name="tests.AmazonProductSearchTest"/>
        </classes>
    </test>

</suite>